@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: #000;
}

ul, ol {
	list-style: none;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

table, td, th {
	border: 1px solid #000;
	padding : 5px 10px;
}

.btn-area {
	padding: 20px 0;
}

header h1, header nav, footer {
	background-color: yellow;
	text-align: center;
}

header h1, footer {
	padding: 20px 0;
}

header nav {
	margin: 20px 0;
}

header ul {
	display: flex;
}

header li a {
	display: inline-block;
	padding: 10px;
}

#main {
	min-height: 90vh;
	padding : 20px 0;
}
#main h2 {
	text-align: center;
}
#main p{
	text-align: center;
}
#main table {
	margin: 20px auto;
	text-align: center;
}
